
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-glasses:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */
